{{/* Generate a citation for the given page,
    inverting the name of the first author,
    and abbreviating first and middle initials,
    but watching out for compound surnames 
*/}}
{{- if and (ne .Slug "all") (.Params.Author) (ne .Params.Author "Author Name" )}}
    {{- $authors := split .Params.author "," -}}
    {{- $citeauthor := "" -}}
    {{- range $i, $a := $authors -}}
    {{/* Handle compound surnames by replacing the space with "=" */}}
        {{- $a = replaceRE `Alvarez Martinez` "Alvarez=Martinez" $a }}
        {{- $a = replaceRE `Nogales Basarrate` "Nogales=Basarrate" $a }}
        {{- $thisauthor := "" -}}
        {{- $names := split (strings.TrimSpace $a) " " -}}
        {{- if eq $i 0 -}}
            {{- $thisauthor = print (index $names (sub ($names | len) 1)) ", " -}}
            {{- range $j, $n := $names -}}
                {{- if ne $j (sub ($names | len ) 1) -}}
                    {{- $thisauthor = print $thisauthor (substr $n 0 1) "." -}}
                {{- end -}}
            {{- end -}}
        {{- else -}}
            {{- $thisauthor = print $thisauthor ", " -}}
            {{- if eq $i (sub ($authors | len) 1) -}}
                {{- $thisauthor = print $thisauthor "and " -}}
            {{- end -}}
            {{- range $j, $n := $names -}}
                {{- if ne $j (sub ($names | len ) 1) -}}
                    {{- $thisauthor = print $thisauthor (substr $n 0 1) ". " -}}
                {{- else -}}
                    {{- $thisauthor = print $thisauthor $n -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
        {{- $citeauthor = print $citeauthor $thisauthor -}}
    {{- end -}}
    {{/* Convert any "=" back to a space */}}
    {{  $citeauthor = replace $citeauthor "=" " " }}
    {{- $title := .Params.title -}}
    {{- $year := .Params.date.Year -}}
    {{- $access := time.Now | time.Format "January 2, 2006" -}}    
    <button class="cite" onclick="citeThis(event)">Cite this {{ .Type }}</button>
    <cite>
        {{- $citeauthor }} ({{ $year }}). "{{ $title }}." Gardens of the Roman Empire, accessed {{ $access }}. {{ .Permalink -}}
    </cite>
{{- end -}}