<div class="metadata">

{{- with .Params.gre_id }}
	{{ $url := print $.Site.BaseURL "id/" . "/" }}
	<div>
		Permalink: <a href="{{ $url }}">{{ $url }}</a>
	</div>
{{- end }}

{{- $page := .Page -}}

{{/* get list of people pages */}}
{{ $people := where .Site.Pages "Type" "people" }}

{{- with .Params.author -}}
	{{- $vals := partial "listify.html" . -}}
	<div>
		Author{{ if gt (len $vals) 1 }}s{{ end }}:
		{{/* List each name, and link the name if it has a people page */}}
    	{{ range $i, $v := $vals }}
			{{- if ne $i 0 -}}, {{ end -}}
			{{ $person := index (where $people "Title" $v) 0 }}
			{{ if $person }}
				<a href="{{ $person.Permalink }}">{{ $v }}</a>
			{{ else }}
				{{ $v }}
			{{ end }}
		{{ end }}
	</div>
{{- end }}

{{- with .Params.editor }}
	{{ $vals := partial "listify.html" . }}
	<div>
		Editor{{ if gt (len $vals) 1 }}s{{ end }}:
		{{/* List each name, and link the name if it has a people page */}}
    	{{ range $i, $v := $vals -}}
			{{- if ne $i 0 -}}, {{ end -}}
			{{ $person := index (where $people "Title" $v) 0 }}
			{{ if $person }}
				<a href="{{ $person.Permalink }}">{{ $v }}</a>
			{{ else }}
				{{ $v }}
			{{ end }}
		{{ end }}
	</div>
{{- end }}

{{/*
{{- with .Date -}}
	<div>Updated: {{ time.Format "2006-01-02" . }}</div>
{{- end -}}
*/}}

</div>