<div class="metadata">

{{- $page := .Page -}}

{{/* create dict of all people pages (name: permalink) */}}
{{ $people := dict }}
{{ range where .Site.Pages "Type" "people" }}
    {{ $people = merge $people (dict .Title .Permalink) }}
{{ end }}

<div class="left">
	{{- with .Params.author -}}
		{{- $vals := partial "listify.html" . -}}
		<div>
			Author{{ if gt (len $vals) 1 }}s{{ end }}:
			{{/* List each name separated by commas, and link the name if it has a people page */}}
			{{ range $i, $v := $vals }}
				{{- if ne $i 0 -}}, {{ end -}}
				{{ $link := index $people $v }}
				{{ if $link }}
					<a href="{{ $link }}">{{ $v }}</a>
				{{ else }}
					{{ $v }}
				{{ end }}
			{{ end }}
		</div>
	{{- end }}

	{{- with .Params.contributor }}
		{{ $vals := partial "listify.html" . }}
		<div>
			Contributor{{ if gt (len $vals) 1 }}s{{ end }}:
			{{/* List each name separated by commas, and link the name if it has a people page */}}
			{{ range $i, $v := $vals -}}
				{{- if ne $i 0 -}}, {{ end -}}
				{{- $link := index $people $v -}}
				{{- if $link -}}
					<a href="{{ $link }}">{{ $v }}</a>
				{{- else -}}
					{{- $v -}}
				{{- end -}}
			{{ end }}
		</div>
	{{- end }}
</div>

<div class="right">
	{{- with .Params.gre_id }}
		{{ $url := print $.Site.BaseURL "id/" . "/" }}
		<div>
			Permalink: <a href="{{ $url }}">{{ $url }}</a>
		</div>
	{{- end }}
	{{- with .Date -}}
		<div>Published: {{ time.Format "2006-01-02" . }}</div>
	{{- end -}}
	{{- with .Params.Modified -}}
		<div>Modified: {{ time.Format "2006-01-02" . }}</div>
	{{- end -}}
</div>

</div>