{{ if and (findRE `place|garden` .Type) (ne "/place" .Path) (gt (len .Plain) 1) }}
{{/* show metadata on place and garden pages
     but not the "All Gardens" /place page
     and not for empty files
*/}}
<div class="metadata">

{{ $page := .Page }}

{{/* create dict of all people pages (name: permalink) */}}
{{ $people := dict }}
{{ range where .Site.Pages "Type" "people" }}
    {{ $people = merge $people (dict .Title .Permalink) }}
{{ end }}

<div class="left">
    {{ if ne .Params.author "Author Name" }}
        {{ with .Params.author }}
            {{ $vals := partial "listify.html" . }}
            <div>
                Author{{ if gt (len $vals) 1 }}s{{ end }}:
                {{/* List each name separated by commas, and link the name if it has a people page */}}
                {{ range $i, $v := $vals }}
                    {{- if ne $i 0 }}, {{ end }}
                    {{ $link := index $people $v }}
                    {{ if $link }}
                        <a href="{{ $link }}">{{ $v }}</a>
                    {{- else -}}
                        {{- $v -}}
                    {{- end -}}
                {{ end }}
            </div>
        {{ end }}
    {{ end }}

    {{ if ne .Params.contributor "Contributor Name" }}
        {{ with .Params.contributor }}
            {{ $vals := partial "listify.html" . }}
            <div>
                Contributor{{ if gt (len $vals) 1 }}s{{ end }}:
                {{/* List each name separated by commas, and link the name if it has a people page */}}
                {{ range $i, $v := $vals }}
                    {{- if ne $i 0 }}, {{ end }}
                    {{ $link := index $people $v }}
                    {{ if $link }}
                        <a href="{{ $link }}">{{ $v }}</a>
                    {{- else -}}
                        {{- $v -}}
                    {{- end -}}
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
</div>

<div class="right">
    {{ if .Draft }}
        <div>Unpublished</div>
    {{ else }}
        {{ with .Date }}
            <div>Published: {{ .Format "2006-01-02" }}</div>
        {{ end }}
    {{ end }}

    {{ with .Lastmod }}
        <div>Last modified: {{ .Format "2006-01-02" }}</div>
    {{ end }}
</div>

</div>
{{ end }}