{{ $path := .Path }}

{{/* get the immediate sublocations for this place */}}
{{ $places := where .Pages "Type" "place" }}

{{/* get all the gardens within this place */}}
{{ $gardens := where .RegularPagesRecursive "Type" "garden" }}

{{/* Build a list of sortable place names */}}
{{ $sortable := slice }}
{{ range $places }}
    {{ $s := .Title }}
    {{ if not $s }}
        {{/* if no _index.md is empty, infer title from path */}}
        {{ $s = print (replaceRE `.*/` "" .Path) }}
    {{ end }}
    {{/* hack to propertly sort Roman numerals up to 39 */}}
    {{ $s = replaceRE `\b(x*)ix` "${1}viiii" $s }}
    {{ $s = replaceRE `\b(X*)IX` "${1}VIIII" $s }}
    {{ $sortable = $sortable | append $s }}
{{ end }}

{{ if and $sortable (gt $gardens.Len 0)}}
<div class='sublocations'>
    <h2>
        {{ if eq .Title "All Gardens" }}Provinces{{ else }}Places in {{ .Title }}{{ end }}:
    </h2>
    <ul>
        {{ range sort $sortable }}
            {{/* undo the roman sorting hack */}}
            {{ $v := replaceRE "viiii" "ix" . }}
            {{ $v = replaceRE "VIIII" "IX" $v }}
            {{ range or (where $places "Title" $v) (where $places "Path" "like" (print $v `\b`) ) }}
                {{/* put brackets around titles inferred from path */}}
                {{ if not .Title }}
                    {{ $v = print "[" $v "]" }}
                {{ end }}
                {{ $drafts := len (where .Site.Home.RegularPagesRecursive "Draft" true) }}
                {{ $count := len .RegularPagesRecursive }}
                {{ $countpublished := len (where .RegularPagesRecursive "Draft" false) }}
                <li><a href="{{ .Permalink }}">{{ $v }}</a>
                {{ if $drafts }}
                    ({{ $countpublished }}/{{ $count }} garden{{ if ne 1 $count }}s{{ end }})</li>
                {{ else }}
                    ({{ $count }} garden{{ if ne 1 $count }}s{{ end }})</li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}
