/* the styles in this file will override the theme styles */

a:hover {
  text-decoration: underline;
}

body {
  line-height: 1.4;
}

.header {
	width: 100%;
	background: linear-gradient(to bottom, #ffffff00, 40%, #ffffff00, 65%, #ffffffff), url('../img/header91.jpg');
}

.menu__link:hover {
  text-decoration: none;
}

.widget-search__field {
  font-size: 11pt;
  margin: 0;
  border: 1px solid #ccc;
}

.widget-search__form {
  padding: 0;
  margin: 0;
  background: none;
}

.widget-taglist__link {
  text-transform: none;
  margin: 0 0.8em 0 0;
  font-size: 10.5pt;
}

nav.breadcrumbs {
  font-weight: bold;
  font-size: 130%;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  background: #262;
  color: #fff;
}

nav.breadcrumbs a {
  color: #fff;
}

ul.subdivisions {
  margin: 0 0 0.5em;
  padding: 0 3em 0.5em;
  border-bottom: 1px solid #888;
}

ul.subdivisions li {
  font-weight: bold;
}

.count {
  margin: 1em 0;
}

article.list__item {
  padding: 0;
  margin: 0 0 1em 0;
  border: 0;
}

.list__header {
  margin: 0;
}

#map {
  width: 100%;
  height: 400px;
  border: 1px solid #000;
}

#map .dot {
  background: #c22d30;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 1px 2px 3px #888888;
  height:12px ! important;
  width: 12px ! important;
}

#search-results-list {
	margin: 1em 0;
	list-style: none;
}

#search-results-list li {
	margin: 1em 0;
}

.smallcrumbs {
	color: #262;
  font-size: 90%;
  margin: 0;
}

.widget a {
  color: #000;
}

.subdivisions {
  margin: 1em 0;
  padding: 1em;
  background: #eee;
  border: 1px solid #ccc;
}

.permalink {
  margin: 0.5em 0;
}

.draft {
  background: #fff2e7;
}

.draft::before {
  content: "- - - DRAFT - - -";
  color: #c22d30;
  font-size: 250%;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}
