{{- if len .Summary }}
	<!-- this template gets used when displaying a list of keyword matches -->
	<article class="list__item post">
		{{- if .Params.thumbnail }}
		<figure class="list__thumbnail">
			<a href="{{ .Permalink }}">
				<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
			</a>
		</figure>
		{{- end }}
		<header class="list__header">
			<h2 class="list__title post__title ">
				<a href="{{ .RelPermalink }}" rel="bookmark">
				{{ .Title }}
				</a>
			</h2>
			<div class='smallcrumbs'>
				{{ $crumbs := replaceRE "/province/" " " (path.Dir .Path) }}
			    {{ $crumbs := replaceRE "_" " " $crumbs }}
				{{ $crumbs := replaceRE "/" " / " $crumbs }}
				{{ $crumbs }}
		    </div>
			{{- with .Params.lead }}
			<p class="list__lead post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="list__meta meta">{{ . }}</div>
			{{- end }}
		</header>

		<div class="content list__excerpt post__content clearfix">
			<!-- up to 180 characters, starting with the Garden Description -->
			{{ $split := split .Summary "Garden Description" }}
			{{ $excerpt := (index $split 1) | plainify | htmlUnescape }}
			{{ $excerpt := substr $excerpt 0 180 }}
			{{ $excerpt := replaceRE ` \w+$` " " $excerpt }}
			{{ $excerpt }}...
		</div>

		{{- if .Site.Params.readmore }}
		{{- if .Truncated }}
		<div class="list__footer clearfix">
			<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
		</div>
		{{- end }}
		{{- end }}
	</article>
{{- end }}
