{{/* 
    For a given place,
    list any sublocations, and
    list any gardens within the place
*/}}

{{- define "main" -}}
<main class="main list" role="main">
	{{- if gt (len .Ancestors) 1 -}}
		{{- partial "breadcrumbs.html" . -}}
	{{- end -}}
	{{- partial "sublocations.html" . -}}
	{{- $thisplace := partial "this-place.html" .Path -}}

	<div class='place{{ if .Params.draft }} draft{{ end }}'>
		{{ if .Params.draft }}
			<div class="draft">DRAFT</div>
		{{ end }}
		<h1 class="post__title">{{ default $thisplace .Title }}</h1>
		<!-- province/place article? -->
		<div class="content post__content clearfix">
			{{ .Content }}
			{{ partial "superlocations.html" . }}
		</div>
	</div>

	<!-- List all garden articles under this location -->
	{{- $pages := slice -}}
	{{- range where (sort page.RegularPagesRecursive ".Path") "Type" "garden" -}}
		{{- $pages = $pages | append . -}}
	{{- end -}}
	{{- $count := len $pages -}}
	
	<div class='summary'>
		{{ $count }} garden
		{{ if ne $count 1 }} articles {{ else }} entry{{ end }}
		{{- if ne $thisplace "Place" }}
			in {{ partial "romancase.html" $thisplace }}
		{{ end -}}
		{{ if ne $count 1 }} have {{ else }} has {{ end }}
		been published{{ if .Site.BuildDrafts }}/drafted{{ end }}:
	</div>
	{{- range $pages -}}
		{{- .Render "summary" -}}
	{{- end -}}
</main>
{{- end -}}
