{{/*
    For a given place,
    list any sublocations, and
    list any gardens within the place
*/}}

{{- define "main" -}}
<main class="main list" role="main">
    {{- partial "breadcrumbs.html" . -}}
    {{- partial "citation.html" . -}}

    <div class='place{{ if .Params.draft }} draft{{ end }}'>
        {{ if .Params.draft }}
            <div class="draft">DRAFT</div>
        {{ end }}
        <h1 class="post__title">{{ .Title }}</h1>
        {{- partial "metadata.html" . -}}    
        {{- partial "sublocations.html" . -}}
        <div class="content post__content clearfix">
            {{ partial "embed-place.html" . }}
        </div>
    </div>

    <!-- Find all garden articles under this location -->
    {{- $pages := where (sort page.RegularPagesRecursive ".Path") "Type" "garden" -}}
    <!-- visible gardens have no ancestors with draft:true -->
    {{ $visible := partial "pages-visible.html" $pages }}

    <!-- State how many published/total  -->
    {{- $count := len $visible -}}
    {{- $countpublished := len (where $visible "Params.draft" false ) -}}    
    <div class='summary'>
        {{ $countpublished }}{{ if ne $count $countpublished }}/{{ $count }}{{ end }}
        garden article{{ if ne $countpublished 1 }}s{{ end }}
        {{ if ne .Slug "all" }} in {{ .Title }}{{ end -}}
        {{ if ne $countpublished 1 }} have {{ else }} has {{ end }}
        been published{{ if ne $countpublished 0 }}:{{ end }}
    </div>

    <!-- List each visible garden -->
    {{- range $visible -}}
        {{- .Render "summary" -}}
    {{- end -}}
</main>
{{- end -}}
