{{ define "main" }}
<main class="main" role="main">
    <article class="post{{ if .Params.draft }} draft{{ end }}">
        {{ if .Params.draft }}
            <div class="draft">DRAFT</div>
        {{ end }}
        <header class="post__header">
            <h1 class="post__title">{{ .Title }}</h1>
        </header>
        {{- if .Params.thumbnail }}
        <figure class="post__thumbnail">
            <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
        </figure>
        {{- end }}
        {{- partial "post_toc.html" . -}}
        <div class="content post__content clearfix">
            {{ .Content }}
        </div>

        {{ $person := .Params.Title }}

        {{/* list authored garden and place pages */}}
        {{ $pages := where (where .Site.RegularPages ".Params.Author" "like" $person) ".Type" "garden" }}
        {{ $places := where (where .Site.Pages ".Params.Author" "like" $person) ".Type" "place" }}
        {{ $pages = $pages | union $places }}
        {{ if $pages }}
            <hr>
            <h2>Author of</h2>
            <div class="people-gardens">
                {{ partial "pages-hierarchy.html" $pages }}
            </div>
        {{ end }}

        {{/* list contributions to garden and place pages */}}
        {{ $pages := where (where .Site.RegularPages ".Params.Contributor" "like" $person) ".Type" "garden" }}
        {{ $places := where (where .Site.Pages ".Params.Contributor" "like" $person) ".Type" "place" }}
        {{ $pages = $pages | union $places }}
        {{ if $pages }}
            <hr>
            <h2>Contributor to</h2>
            <div class="people-gardens">
                {{ partial "pages-hierarchy.html" $pages }}
            </div>
        {{ end }}

    </article>
</main>
{{ end }}
