{{/*

Example usage (in a garden article):

{{< id vocab="Pleiades" id="579844" term="Aegina (island)" >}}
{{< id vocab="TGN" id="7011087" term="Aegina (inhabited place)" >}}

*/}}

{{/* Get the values specified in the call to the id shortcode */}}
{{ $vocab := .Get "vocab" }}
{{ $id := .Get "id" }}
{{ $term := .Get "term" }}

{{/* Load the list of known vocabularies */}}
{{- $vocabs := dict -}}
{{- with resources.Get "vocabs.csv" -}}
    {{- $opts := dict "targetType" "map" -}}
    {{- $vocabs = transform.Unmarshal $opts . -}}
{{- end -}}


{{/* Link the term*/}}
{{- with $term -}}
  <a href="/search/?q={{ $term }}">{{ $term }}</a>
{{- end -}}

{{ $url := "" }}
{{ $vocabname := "" }}
{{ range where $vocabs "vocab" $vocab}}
    {{ $url = .baseurl }}
    {{ $vocabname = .vocabname }}
{{ end }}
{{ if $url }}
    <a target="_blank" href="{{ urls.JoinPath $url $id }}" title="{{ $vocabname }}">{{ $vocab }}: {{ $id }}</a>
{{ end }}
