{{ $id := .Get "id" }}
{{ $type := .Get "type" }}
{{ $title := .Get "title" }}

{{ $url := "" }}
{{ if eq $type "aat" }}
    {{ $url = "http://vocab.getty.edu/page/aat" }}
{{ else if eq $type "orcid" }}
    {{ $url = "https://orcid.org" }}
{{ else if eq $type "pleiades" }}
    {{ $url = "https://pleiades.stoa.org/places" }}
{{ else if eq $type "powo" }}
    {{ $url = "https://powo.science.kew.org/taxon" }}
{{ else if eq $type "tgn" }}
    {{ $url = "http://vocab.getty.edu/page/tgn" }}
{{ end }}

{{ $url = urls.JoinPath $url $id }}

{{/* Capitalize the source appropriately */}}
{{ if eq $type "pleiades"}}
    {{ $type = strings.FirstUpper $type }}
{{ else }}
    {{ $type = upper $type }}
{{ end }}

<div class='linkedid'>
    <b>{{ $type }}:</b>
    <a href="{{ $url }}">{{ $id }}{{ with $title }} -- {{ . }}{{ end }}</a>
</div>