{{/*

Example usage (in a garden article):
    {{< image file="truemper3.jpg"
        caption="Fig. 3: Agora of the Italians, photo from the southwest."
        credit="Courtesy of M. Trümper."
        alt="" >}}

*/}}
{{- $file := .Get "file" -}}
{{- $path := cond (eq .Page.File.BaseFileName "_index") .Page.Path .Page.Parent.Path -}}
{{- $file = urls.JoinPath "https://raw.githubusercontent.com/roman-gardens/gre-images/main/content/" $path $file -}}

{{- $credit  := .Get "credit" -}}
{{- $caption := .Get "caption" -}}
{{- $alt     := .Get "alt" -}}

<figure>
    <img src="{{ $file }}" alt="{{ $alt }}" onclick="fullscreen(this)">
    <figcaption>
        {{/* allow HTML links in the caption */}}
        {{- safeHTML (htmlUnescape $caption) -}}
        {{- with $credit -}}
            <div class="credit">Credit: {{ safeHTML (htmlUnescape .) }}</div>
        {{- end -}}
    </figcaption>
</figure>