<script>
function smallcrumbs(dir) {
  dir = dir.toLowerCase()
  dir = dir.replace('/province/', '')
  if (! dir) return

  dir = dir.replace(/_/g, ' ')
  dir = dir.replace(/\//g, ' / ')

  // capitalize each word
  dir = dir.replace(/\b(\w)/g, x => x.toUpperCase())

  // all caps for Roman numerals
  dir = dir.replace(/\b[ivx]+\b/ig, x => x.toUpperCase())

  return dir
}

// build the search index from each garden page
window.store = {
{{ range $ri, $rv := where .Site.Pages "Section" "province" }}
    {{ if .Title }}
    "{{ $ri }}": {
        "title": "{{ .Title }}",
        "smallcrumbs": smallcrumbs("{{ path.Dir .Path }}"),
        "content": {{ .Plain }},
        "url": "{{ .Permalink }}"},
    {{ end }}
{{ end }}
}
</script>
<script src="{{ .Site.BaseURL }}js/lunr.min.js"></script>
<script src="{{ .Site.BaseURL }}js/search.js"></script>
