{{- if len .Summary }}
    <!-- this template gets used when browsing gardens by location -->
    <article class="list__item post">
        <header class="list__header">
            <div class="smallcrumbs">
                {{- partial "smallcrumbs.html" . }}
            </div>
            <h3 class="list__title post__title">
                <a href="{{ .Permalink }}">
                {{ .Title }}
                </a>
                {{- if .Params.draft }}<span class="draft">draft</span>{{- end }}
            </h3>
            {{ with partial "post_meta.html" . -}}
            <div class="list__meta meta">{{ . }}</div>
            {{- end }}
        </header>

    <!-- extract and render start of garden description -->
        <div class="content list__excerpt post__content clearfix">
            <!-- Excerpt 180 characters, starting with the Garden Description -->
            {{ $split := split .Summary "Garden Description" }}
            {{ $excerpt := (index $split 1) | plainify | htmlUnescape }}
            {{ $excerpt = substr $excerpt 0 180 }}
            <!-- Remove trailing characters (so no partial words)-->
            {{ $excerpt = replaceRE ` \w+$` " " $excerpt }}
            {{ $excerpt }}...
        </div>

    </article>
{{- end }}
