{{ define "main" }}
<main class="main list" role="main">
  <!-- current path with proper slashes -->
  {{ $path := print (path.Dir .Path) }}

  <!-- province name, properly capitalized etc. -->
  {{ $province := replaceRE "province.(.*?)" "$1" $path }}
  {{ $province = replaceRE "_" " " $province | title }}

  <header class="main__header">
    <h1 class="main__title">{{ $province }}</h1>
  </header>

  <!-- iterate through all published pages in this province
       to find unique subdirectories
  -->
  {{ $dirs := slice }}
  {{ range .RegularPagesRecursive }}
    {{ with strings.TrimPrefix (print $path "/") (path.Dir .Dir) }}
      {{ if and (not (in $dirs .)) (not (eq $path .)) }}
        {{ $dirs = $dirs | append . }}
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- display any subdirectories -->
  {{ if len $dirs }}
  <div class='province-subdivisions'>
    <b>Province subdivisions:</b>
    {{ range $i, $v := sort $dirs -}}
      {{- if $i -}}, {{ end -}}
      {{ with strings.TrimPrefix $path . }}
      <a href="{{ . | lower }}/">{{ replaceRE "_" " " . | title }}</a>
      {{- end -}}
    {{ end }}
  </div>
  {{ end }}

  {{- if .Sections -}}
    {{- range sort .Sections -}}
      {{- range .Data.Pages -}}
        {{ . }}
        {{- .Render "summary" }}
      {{- end -}}
      {{- if .Sections -}}
        {{- range .Sections -}}
          {{- range .Data.Pages -}}
            {{- .Render "summary" }}
          {{- end -}}
          {{- if .Sections -}}
            {{- range .Sections -}}
              {{- range .Data.Pages -}}
                {{- .Render "summary" }}
              {{- end -}}
              {{- if .Sections -}}
                {{- range .Sections -}}
                  {{- range .Data.Pages -}}
                    {{- .Render "summary" }}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range .Paginator.Pages }}
    {{- .Render "summary" }}
  {{- end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}
