{{ define "main" }}
<main class="main meta" role="main">
    <h1>Jump to:</h1>
    <ul style="margin-left:2em; margin-bottom:3em">
        <li><a href="#places">All Places</a></li>
        <li><a href="#gardens">All Gardens</a></li>
        <li><a href="#linkedkeywords">Linked Keywords</a></li>
    </ul>


    {{ $pages := sort (where .Site.Pages "Type" "place") "Path" }}
    {{ $visible := partial "pages-visible.html" $pages }}
    <h1 id="places">All places ({{ $visible.Len }})</h1>
    <table class="meta place">
        <tr>
            <th>path</th>
            <th>title</th>
            <th>author</th>
            <th>contributor</th>
            <th>date</th>
            <th>updated</th>
            <th>linked places</th>
        </tr>
        {{ range $p := $visible }}
            {{ if ne $p.Path "/place" }}
                <tr {{ if $p.Draft }}class="draft"{{ end }}>
                    <td class="path"><a href="{{ .Permalink }}">{{ replace $p.Path "/place" "" }}</a></td>
                    <td class="title">{{ $p.Title }}
                        {{ if $p.Draft }}<span class="draft">draft</span>{{ end }}
                    </td>
                    <td>{{ htmlUnescape (replace $p.Params.Author ", " ",<br>") | safeHTML }}</td>
                    <td>{{ htmlUnescape (replace $p.Params.Contributor ", " ",<br>") | safeHTML }}</td>
                    <td class="date">{{ $p.Date.Format "2006-01-02" }}</td>
                    <td class="date">{{ $p.Lastmod.Format "2006-01-02" }}</td>
                    <td>{{ partial "html-section.html" ( dict "html" $p.Content "header" "Places" "omitHeader" true ) }}</td>
                </tr>
            {{ end }}
        {{ end }}
    </table>

    {{ $pages := sort (where .Site.RegularPages "Type" "garden") "Path" }}
    {{ $visible := partial "pages-visible.html" $pages }}
    <h1 id="gardens">All gardens ({{ $visible.Len }})</h1>
    <table class="meta garden">
        <tr>
            <th>jashemski number</th>
            <th>path</th>
            <th>title</th>
            <th>author</th>
            <th>contributor</th>
            <th>date</th>
            <th>updated</th>
            <th>site date</th>
            <th>linked places</th>
        </tr>
        {{ range $p := $visible }}
            <tr {{ if $p.Draft }}class="draft"{{ end }}>
                <td>{{ $p.Param "jashemski-catalogue" }}</td>
                <td class="path"><a href="{{ .Permalink }}">{{ replace $p.Path "/place" "" }}</a></td>
                <td class="title">{{ $p.Title }}
                    {{ if $p.Draft }}<span class="draft">draft</span>{{ end }}
                </td>
                <td class="nowrap">{{ htmlUnescape (replace $p.Params.Author ", " ",<br>") | safeHTML }}</td>
                <td class="nowrap">{{ htmlUnescape (replace $p.Params.Contributor ", " ",<br>") | safeHTML }}</td>
                <td class="nowrap">{{ $p.Date.Format "2006-01-02" }}</td>
                <td class="nowrap">{{ $p.Lastmod.Format "2006-01-02" }}</td>
                <td>{{ partial "html-section.html" (dict "html" $p.Content "header" "Dates" "omitHeader" true ) }}</td>
                <td>{{ partial "html-section.html" ( dict "html" $p.Content "header" "Places" "omitHeader" true ) }}</td>
            </tr>
        {{ end }}
    </table>

    {{/* Load the list of known keywords */}}
    {{- $keywords := dict -}}
    {{- with resources.Get "keywords.csv" -}}
        {{- $opts := dict "targetType" "slice" -}}
        {{- $keywords = transform.Unmarshal $opts . -}}
    {{- end -}}
    <h1 id="linkedkeywords">Linked keywords ({{ len $keywords }})</h1>
    {{ with $keywords }}
        <table class="meta" id="metakeywords">
            <thead>
            <tr>
                {{ range index . 0 }}
                <th>{{ . }}</th>
                {{ end }}
            </tr>
            </thead>
            <tbody>
            {{/* Iterate through each row (skipping the head, which we already did) */}}
            {{ range . | after 1 }}
                <tr>
                {{ $term := "" }}
                {{/* Iterate through each column */}}
                {{ range $i, $v := . }}
                    {{ if eq $i 0 }}
                        {{/* remember term for the keyword link in the last column */}}
                        {{ $term = $v }}
                        <td>{{ $v }}</td>
                    {{ else if eq $i 1 }}
                        <td>{{ $v }}</td>
                    {{ else if eq $i 2 }}
                        <td>{{ partial "keyword-link" $term }}</td>
                    {{ else }}
                        <td>{{ $v }}</td>
                    {{ end }}
                {{ end }}
                </tr>
            {{ end }}
            </tbody>
        </table>
    {{ end }}

    <!-- make tables sortable by clicking on headers -->
    <script>
        var tables = document.querySelectorAll("table")
        for (let i = 0; i < tables.length; i++) {
            let t = tables[i]
            let ths = t.querySelectorAll("th").forEach((x) => {
                x.addEventListener("click", (e) => {
                    let th = e.target
                    let table = th.closest('table')
                    let dir = 'asc'
                    if (th.classList.contains('asc')) {
                        dir = 'desc'
                    }
                    table.querySelectorAll('th').forEach((x) => {
                        x.classList.remove('asc')
                        x.classList.remove('desc')
                    })
                    th.classList.add(dir)
                    let col = Array.from(th.parentNode.children).indexOf(th)
                    sortRows(table, col, dir)
                    e.preventDefault()
                })
            })
        }

        function sortRows(table, col, dir) {
            let rows = table.querySelectorAll("tr")
            let numeric = true
            let values = []
            for (let i = 1; i < rows.length; i++) {
                let node = rows[i].querySelector("td:nth-child(" + (col + 1) + ")")
                let v = node.innerText
                if (isNaN(v)) {
                    numeric = false
                } else {
                    v = parseFloat(v)
                }
                values.push({val:v, row:rows[i]})
            }
            // the collator will smartly sort strings containing numbers
            var collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'})
            values = values.sort((a, b) => {
                // force empty values to sort last
                let aa = a.val ? a.val : 'zzzzz'
                let bb = b.val ? b.val : 'zzzzz'
                return collator.compare(aa, bb)
            })
            if (dir === 'desc') {
                values = values.reverse()
            }
            for (let i = 0; i < values.length; i++) {
                table.appendChild(values[i].row)
            }
        }
    </script>
</main>
{{ end }}
