{{ define "main" }}
<main class="main list" role="main">
  {{ $path := print (path.Dir .Path) }}
  {{ $dirs := split (replaceRE "^province." "" $path) "/" }}
  {{ $len := len $dirs }}

  <!-- display path hierarchy, with each level linked -->
  <header class="main__header">
    <h1 class="main__title">
      {{ range $i, $dir := $dirs }}
        {{ if ne 0 $i }} / {{ end }}
        {{ $place := replaceRE "_" " " $dir | title }}
        {{ if in $place "Region " }}
          {{ $place = replaceRE "REGION" "Region" ($place | upper) }}
        {{ end }}
        {{ if in $place "Insula " }}
          {{ $place = replaceRE "insula" "Insula" ($place | lower) }}
        {{ end }}
        {{ $link := strings.Repeat (sub (sub $len 1) $i) "../" }}
        {{ if $link }}
          <a class="nav" href="{{ $link }}">{{ $place }}</a>
        {{ else }}
          {{ $place }}
        {{ end }}
      {{ end }}
    </h1>
  </header>

  <!-- iterate through all published pages in this province
       to find unique subdirectories
  -->
  {{ $dirs := slice }}
  {{ range .RegularPagesRecursive }}
    {{ $d := strings.TrimPrefix (print $path "/") (path.Dir .Dir) }}
    <!-- only keep first level subdirectories -->
    {{ $d = replaceRE "/.*" "" $d }}
    <!-- don't keep articles in the current directory -->
    {{ if and (not (in $dirs $d)) (not (eq $path $d)) }}
      {{ if ne $d "province" }}
        {{ $dirs = $dirs | append $d }}
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- display any subdirectories -->
  {{ if len $dirs }}
  <div class='subdivisions'>
    <b>Subdivisions:</b>
    {{ range $i, $v := sort $dirs -}}
      {{- if $i -}}, {{ end -}}
      {{ with strings.TrimPrefix $path . }}
      {{ $text := replaceRE "_" " " . | title }}
      {{ if in $text "Region " }}
        {{ $text = replaceRE "REGION" "Region" ($text | upper) }}
      {{ end }}
      {{ if in $text "Insula " }}
        {{ $text = replaceRE "insula" "Insula" ($text | lower) }}
      {{ end }}
      <a href="{{ . | lower }}/">{{ $text }}</a>
      {{- end -}}
    {{ end }}
  </div>
  {{ end }}

  {{- if .Sections -}}
    {{- range sort .RegularPagesRecursive ".Params.Title" }}
      {{- .Render "summary" }}
    {{- end -}}
  {{- end -}}
</main>
{{ partial "pagination.html" . }}
{{ end }}
