{{ define "main" }}
<main class="main list" role="main">
  {{- partial "breadcrumbs.html" . -}}
  {{ $path := print (path.Dir .Path) }}

  <!-- iterate through all published pages in this province
       to find unique subdirectories
  -->
  {{ $dirs := slice }}
  {{ range .RegularPagesRecursive }}
    {{ $d := strings.TrimPrefix (print $path "/") (path.Dir .Dir) }}
    <!-- only keep first level subdirectories -->
    {{ $d = replaceRE "/.*" "" $d }}
    <!-- force roman rumerals to sort better -->
    {{ if gt (len (findRE "(regio|insula).*x" $d) ) 0 }}
      {{ $d = print "xxx" $d }}
    {{ end }}
    <!-- don't keep articles in the current directory -->
    {{ if and (not (in $dirs $d)) (not (eq $path $d)) }}
      {{ if ne $d "province" }}
        {{ $dirs = $dirs | append $d }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $thisplace := "" }}
  <!-- display any subdirectories -->
  {{ if len $dirs }}
  <!-- get the current place name -->
  {{ $thisplace = delimit (last 1 (split (path.Dir .Path) "/") ) "" }}
  {{ $thisplace = replaceRE "_" " " $thisplace | title }}
  <!-- fix roman numeral caps -->
  {{ with findRE "([IVX][ivx]+)" $thisplace 1 }}
    {{ $roman := delimit . "" }}
    {{ $thisplace = replaceRE $roman ($roman | upper ) $thisplace }}
  {{ end }}
  {{ if eq $thisplace "Province" }}
    Provinces:
  {{ else }}
    Subdivisions of {{ $thisplace }}:
  {{ end }}
  <ul class='subdivisions'>
    {{ range $i, $v := sort $dirs -}}
      {{ with strings.TrimPrefix $path . }}
        <!-- repair roman numerals containing x -->
        {{ $link := replaceRE "xxx" "" . }}
        <!-- convert URL path to title case with spaces -->
        {{ $place := replaceRE "_" " " $link | title }}

        <!-- fix roman numeral caps -->
        {{ with findRE "([IVX][ivx]+)" $place 1 }}
          {{ $roman := delimit . "" }}
          {{ $place = replaceRE $roman ($roman | upper ) $place }}
        {{ end }}
        <li><a href="{{ $link | lower }}/">{{ $place }}</a></li>
      {{- end -}}
    {{ end }}
  </ul>
  {{ end }}

  {{- if .Sections -}}
    <!-- get list all garden pages under this location -->
    {{ $pages := slice }}
    {{ range sort .RegularPagesRecursive ".Params.Title" }}
      {{ if ne ( path.Base .Path ) "index.md" }}
        {{ $pages = $pages | append . }}
      {{ end }}
    {{ end }}
    {{ $count := len $pages }}
    <div class='count'>
      {{ $count }} garden{{ if ne $count 1 }}s{{ end }}
      {{ if ne $thisplace "Province" }}
        in {{ $thisplace }}
      {{ end }}
      {{ if ne $count 1 }} have {{ else }} has {{ end }}
      been published:
    </div>
    {{- range $pages }}
      {{- .Render "summary" }}
    {{- end -}}
  {{- end -}}
</main>
{{ partial "pagination.html" . }}
{{ end }}
